/* base styles */
@import url("http://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-1: #272a31;
  --color-2: #ec5242;
  --color-3: #d3d3d3;
  --color-4: #575757;
  --white: #fff;
  --black: #000;
}

/* mobile styles */
.secondary-nav {
  display: none;
}

.primary-nav__btn {
  display: none;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  max-height: auto;
  max-width: 12rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-nav__mobile {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.primary-nav__items {
  display: none;
  list-style: none;
}

.primary-nav__item a {
  text-decoration: none;
}

.main-section {
  padding: 10% 4% 5% 4%;
  background-image: url(imgs/mobile-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-section__title {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 3rem;
  background: linear-gradient(to right, #ff8800f5 0%, #ec5242 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section__quote {
  font-size: 1rem;
  color: var(--color-2);
}

.main-section__description {
  background-color: #f4f4f4;
  border: 5px solid var(--white);
  width: 20rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 14px;
  padding: 7px;
}

.date {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1.5rem;
  color: var(--color-4);
  margin-bottom: 0;
}

.place {
  color: var(--color-4);
  font-size: 1rem;
}

.line {
  width: 60px;
  border-bottom: 1px solid var(--color-2);
  margin: 0 auto 40px;
}

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  background-image: url(imgs/pattern.png);
  padding: 2%;
  gap: 20px;
}

.main-program__title {
  color: var(--white);
  margin: 0;
  font-size: 15px;
}

.main-program__cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  width: 100%;
  gap: 10px;
}

.main-program__card {
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.main-program__card:hover {
  border: 1px solid var(--white);
}

.main-program__card-img {
  max-width: 15%;
}

.main-program__card-title {
  color: var(--color-2);
}

.main-program__card-info {
  color: var(--white);
  padding-top: 5px;
}

.main-program__join {
  color: var(--white);
  text-decoration: none;
}

.featured-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem 0 0.5rem;
}

.featured-speaker {
  padding-bottom: 1rem;
}

.featured-speaker__img {
  float: left;
  max-height: auto;
  max-width: 10rem;
}

.fs-title {
  font-weight: bold;
}

.fs-role {
  color: var(--color-2);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  font-style: italic;
  position: relative;
  padding-bottom: 1.2rem;
}

/* desktop styles */
@media screen and (min-width: 768px) {
  .logo {
    max-height: auto;
    max-width: 10rem;
  }

  .menu {
    display: none;
  }

  .secondary-nav {
    display: block;
    background-color: var(--black);
    width: 100%;
  }

  .secondary-nav__items {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 2rem;
    margin-right: 10%;
  }

  .secondary-nav__item a {
    text-decoration: none;
    color: var(--white);
  }

  .primary-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }

  .primary-nav__items {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .primary-nav__item a {
    text-decoration: none;
    color: var(--black);
  }

  .primary-nav__btn {
    display: flex;
    border: 5px solid var(--color-2);
    color: var(--color-2);
    padding: 10px;
    margin-right: 20px;
  }

  .main-section {
    background-image: url(imgs/background.png);
    padding: 5% 5% 5% 10%;
    height: 90vh;
  }

  .main-section__title {
    font-size: 5rem;
  }

  .main-section__quote {
    font-size: 2rem;
  }

  .main-section__description {
    width: 35rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .date {
    font-size: 2rem;
  }
}
